body {
    background-image: url("https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: 100%;
    font-family: 'Jost', sans-serif;
}

.navbar-brand, .navbar-nav a {
    color: rgb(18, 18, 18);
    font-size: 175%;
    margin: 36px;
    padding: 24px;
}

.col {
    margin-top: 200px;
}

footer {
    position: absolute;
    bottom: 0;
}

.fa {
    margin: 5px;
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: justify;
}

.fa-linkedin {
    background: rgb(40,103,178);
    color: white;
}
  
.fa-github {
    background: rgb(33, 31, 31);
    color: white;
}

